[Unit]
Description=Nezha Agent
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/nezha/nezha-agent -c /opt/nezha/config.yml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
